<h3>控制器 - 步骤2</h3>
<br>
<pre class="layui-code" lay-title="代码" lay-skin="notepad">
    //list
    public function {$function_name|default='index'}List()
    {
        return json();
    }
    //edit
    public function {$function_name|default='index'}Edit()
    {
        return json();
    }
    //add
    public function {$function_name|default='index'}Add()
    {
        return json();
    }
    //del
    public function {$function_name|default='index'}Del()
    {
        return json();
    }
</pre>
<script>
    layui.use('code', function(){ //加载code模块
        layui.code(); //引用code方法
    });
</script>