{layout name="layout" /}
<div>
    <h3>ThinkPHP5.1.20！<span style="color: red;">第一次使用请一定查看下列信息</span></h3><br>
    <h4>
        1、本工具基于：<b>ThinkPHP5.1.20  +  mysql版本数据库 + php7</b><br><br>

        2、步骤：请首先建立好数据库，然后修改本程序中的"/application/database.php"数据库配置
        注意：建议将每个字段标注“备注”，字段的“备注”在本工具中非常、非常、非常、有用<br><br>

        3、公共方法，和中间件是很简单的，只有生成代码，没有生成文件，根据需要是否使用<br><br>

        4、[模型]模型会根据表来创建，一张表对应一个数据层模型，如果你使用到服务层、逻辑层，也会创建对应的服务层、逻辑层模型
        根据自己的需求生成。模型分层是从tp5.0 过来的，虽然5.1手册中没有了关于模型分层的介绍，但还是保留了分层，需要自己创建<br><br>

        1)服务层模型，带有调用逻辑层的增删改查4个方法<br><br>

        2)逻辑层模型，带有调用数据层的常用几个方法<br><br>

        3)数据层模型，绑定表和主键，软删除，自动写入时间、一对多，一对一、多对多等关联模型<br><br>

        4)当读取到表备注存在“中间表”或“关联表”时，会自动生成中间表模型<br><br>

        5、[验证器]选择字段信息后，字段生成相应的验证器代码。<br><br>

        6、[控制器] 选择模块后，自动生成控制器文件。<br><br>

        1)控制器带有List、Edit、Add、Del4个方法，逻辑需要自己写<br><br>

        2)分层控制器根据需求创建<br><br>

        3)资源控制器，创建的方法是对应的7个方法，不是4个<br><br>

        7、[视图]，目前只有生成表格、表单的代码，生成代码<br><br>

        8、目前已有demo,阿里云短信、阿里云oss、phpExcel导出,后续会陆续添加<br><br>
    </h4>
</div>
<script type="text/javascript">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer, form = layui.form;
        layer.msg('ThinkPHP5.1.20');
    });
</script>