<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('code/index/validata2')}" data-auto="true" method="get">
    <div class="layui-form-item">
        <label class="layui-form-label">验证器名字</label>
        <div class="layui-input-block">
            <input type="text" name="validata_name" class="layui-input">
            <span style="color: red;">未填写，验证器名默认为表名</span>
        </div>
    </div>
    <div class="layui-form-item layui-inline" >
        <label class="layui-form-label">选择表</label>
        <div class="layui-input-inline"  style="width: 300px;">
            <select name="table"  lay-verify="required" lay-search="">
                {foreach $tables as $vo}
                <option value="{$vo.Name}">{$vo.Name} -- {$vo.Comment}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">下一步</button>
        </div>
    </div>
</form>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            return true;
        });
    });
    window.form.render();
</script>
