<h3>验证器代码 - 完成</h3>
<br>
<pre class="layui-code" lay-title="代码" lay-skin="notepad">
namespace app\{$mokuai}\validate;

use think\Validate;

class {$table|ucfirst} extends Validate
{
    protected $rule = [
    {foreach name="rs" id="r" key="k"}
        '{$k}' => '{:implode('|',$r)}',
    {/foreach}
    ];

    protected $message = [
    {foreach name="ms" id="m" key="k"}
        '{$k}' => '{$m}',
    {/foreach}
    ];
    protected $scene = [
        'add'   =>  [{$fields}],
        'edit'  =>  [{$fields}],
    ];
}
</pre>
<script>
    layui.use('code', function(){ //加载code模块
        layui.code(); //引用code方法
    });
</script>