<footer id="footer" class="footer">
    <div class="footer_link wrapper">
        <ul>
            <li>
                <a rel="nofollow" href="#">路漫漫其修远兮，我将上下而求索</a>
            </li>
        </ul>
    </div>
    <div class="footer-line"></div>
    <div class="footer-bottom wrapper">
        <p>Copyright<i class="fa fa-copyright"></i>2018-20??<a href="/">夜神博客.</a>
        </p>
    </div>
</footer>

<div class="none">
    <script type="text/javascript" src="/static/public/blog/js/custom.js"></script>
    <script>var swiper=new Swiper('.swiper-home',{pagination:'.swiper-home-pagination',nextButton:'.swiper-home-button-next',prevButton:'.swiper-home-button-prev',paginationClickable:true,centeredSlides:true,autoplay:5000,autoplayDisableOnInteraction:false,lazyLoading:true,mousewheelControl:false,keyboardControl:true,loop:true});</script>
</div>
<script>
    $(document).ready(function () {
        $("body").floating({
            "theme":"panel_theme_square_solid",
            "state":true,"moveState":true,"size":"sg","position":"left-bottom",
            "tip":{"background-color":"#000000","color":"#ffffff"},
            "account":[
                {"type":"Phone","tip":'https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzI0MzE1NTU1Mw==&mid=2247483657&idx=1&sn=5f98c49276676c9ae69b00bdc5b12daa&send_time=',"text":null,"url":null},
                {"type":"Skype","tip":'https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzI0MzE1NTU1Mw==&mid=2247483657&idx=1&sn=5f98c49276676c9ae69b00bdc5b12daa&send_time=',"text":null,"url":null},
                {"type":"Top","tip":"向上","text":null,"url":null},
            ]});
    })
</script>