<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">模型名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入模型名称" placeholder="请输入模型名称" class="layui-input">
            <p class="help-block color-desc"><b>必填</b>,请填写模型名称（如：系统管理），建议字符不要太长，一般4-6个汉字</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型标识</label>
        <div class="layui-input-block">
            <input type="text" {if isset($vo['flag'])}readonly{/if} onblur="(this.value === '')" name="flag" autocomplete="off" required="required" title="请输入模型链接" placeholder="请输入模型链接" value="{$vo.flag|default=''}" class="layui-input typeahead">
            <p class="help-block color-desc">
                <b>必填</b>,英文标识
            </p>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        require(['bootstrap.typeahead'], function () {
            var subjects = JSON.parse('{$nodes|raw|json_encode}');
            $('.typeahead').typeahead({source: subjects, items: 5});
        });
    </script>

</form>
