{extend name='admin@public/content'}

{block name="content"}
<div class="row" style="margin-top:15px;width: 94%;">
    <div class="col-lg-12">
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel bg-blue">
            <div class="panel-body" style="background: #0a6aa1">
                <div class="panel-title">
                    <span class="label label-success pull-right">实时</span>
                    <h5>分类统计</h5>
                </div>
                <div class="panel-content">
                    <h1 class="no-margins">1234</h1>
                    <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> 1234</div>
                    <small>当前分类总记录数</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel bg-aqua-gradient">
            <div class="panel-body" style="background: #10a112">
                <div class="ibox-title">
                    <span class="label label-info pull-right">实时</span>
                    <h5>附件统计</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">1043</h1>
                    <div class="stat-percent font-bold text-gray"><i class="fa fa-modx"></i> 2592</div>
                    <small>当前上传的附件数量</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="panel bg-purple-gradient">
            <div class="panel-body" style="background: #a15174">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">实时</span>
                    <h5>文章统计</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">1234</h1>
                            <div class="font-bold text-navy"><i class="fa fa-commenting"></i> <small>评论次数</small></div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">6754</h1>
                            <div class="font-bold text-navy"><i class="fa fa-heart"></i> <small>点赞次数</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel bg-green-gradient">
            <div class="panel-body" style="background: #1ea1a1">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">实时</span>
                    <h5>新闻统计</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">5302</h1>
                            <div class="font-bold text-navy"><i class="fa fa-commenting"></i> <small>评论次数</small></div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">8205</h1>
                            <div class="font-bold text-navy"><i class="fa fa-user"></i> <small>点赞次数</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="layui-table" lay-even lay-skin="line" style="width: 30%;float:left;">
    <colgroup>
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th class="text-left" colspan="2">服务器信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  class="nowrap">EasyAdmin 版本</td>
        <td class="nowrap">{:sysconf('app_version')}</td>
    </tr>
    <tr>
        <td class="nowrap">ThinkPHP 版本</td>
        <td class="nowrap">{$think_ver}</td>
    </tr>
    <tr>
        <td class="nowrap">服务器操作系统</td>
        <td class="nowrap">{:php_uname('s')}</td>
    </tr>
    <tr>
        <td class="nowrap">WEB运行环境</td>
        <td class="nowrap">{:php_sapi_name()}</td>
    </tr>
    <tr>
        <td class="nowrap">MySQL数据库版本</td>
        <td class="nowrap">{$mysql_ver}</td>
    </tr>
    <tr>
        <td class="nowrap">运行PHP版本</td>
        <td class="nowrap">{$Think.PHP_VERSION}</td>
    </tr>
    <tr>
        <td class="nowrap">上传大小限制</td>
        <td class="nowrap">{:ini_get('upload_max_filesize')}</td>
    </tr>
    <tr>
        <td class="nowrap">POST大小限制</td>
        <td class="nowrap">{:ini_get('post_max_size')}</td>
    </tr>
    </tbody>
</table>

<table class="layui-table" lay-even lay-skin="line" style="width: 60%;float:left;margin-left: 20px;">
    <thead>
    <tr>
        <th class="text-left" >应用</th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    </tbody>
</table>
<table class="layui-table" lay-even lay-skin="line" style="width: 60%;float:left;margin-left: 20px;">
    <thead>
    <tr>
        <th class="text-left" >统计</th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="row" style="width:92%;margin-top: 30%;margin-left:0px;">
    <div class="col-lg-4" style="background: #e6f9f7;border: 1px solid red; width: 32%;">
        <div class="box box-danger" style="    margin-top: 11px;">
            <div class="box-header">
                <h3 class="box-title">最新新闻</h3>
                <div class="box-tools pull-right">
                    <a href="https://www.fastadmin.net" target="_blank" class="btn btn-box-tool">更多</a>
                </div>
            </div>
            <div class="box-body" id="news-list"><ul class="nav nav-stacked">


                <li>
                    <a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank">
                        <span class="text">2019新年福袋活动正在进行中</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/71.html" target="_blank">
                        <span class="text">ThinkPHP5再次发布安全更新版本，请注意升级</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/70.html" target="_blank">
                        <span class="text">FastAdmin官网全新积分功能上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/69.html" target="_blank">
                        <span class="text">FastAdmin已取得计算机软件著作权登记证书</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/68.html" target="_blank">
                        <span class="text">ThinkPHP5发布安全更新，请务必关注你的FastAdmin版本。</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/thread/5567" target="_blank">
                        <span class="text">FastAdmin重磅推出强大的FormBuilder(表单生成器)功能</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                        <span class="text">FastAdmin官方出品响应式博客(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                        <span class="text">FastAdmin官方出品CMS内容管理系统(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/" target="_blank">
                        <span class="text">FastAdmin全新官方交流社区上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://jq.qq.com/?_wv=1027&amp;k=487PNBb" target="_blank">
                        <span class="text">FastAdmin邀请你加入官方QQ交流群和小伙伴一起交流</span>
                    </a>
                </li>

            </ul></div>
        </div>
    </div>
    <div class="col-lg-4" style="background: #e6f9f7;border: 1px solid red; width: 32%;margin-left: 20px;">
        <div class="box box-danger" style="    margin-top: 11px;">
            <div class="box-header">
                <h3 class="box-title">最新新闻</h3>
                <div class="box-tools pull-right">
                    <a href="https://www.fastadmin.net" target="_blank" class="btn btn-box-tool">更多</a>
                </div>
            </div>
            <div class="box-body" id="news-list"><ul class="nav nav-stacked">


                <li>
                    <a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank">
                        <span class="text">2019新年福袋活动正在进行中</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/71.html" target="_blank">
                        <span class="text">ThinkPHP5再次发布安全更新版本，请注意升级</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/70.html" target="_blank">
                        <span class="text">FastAdmin官网全新积分功能上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/69.html" target="_blank">
                        <span class="text">FastAdmin已取得计算机软件著作权登记证书</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/68.html" target="_blank">
                        <span class="text">ThinkPHP5发布安全更新，请务必关注你的FastAdmin版本。</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/thread/5567" target="_blank">
                        <span class="text">FastAdmin重磅推出强大的FormBuilder(表单生成器)功能</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                        <span class="text">FastAdmin官方出品响应式博客(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                        <span class="text">FastAdmin官方出品CMS内容管理系统(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/" target="_blank">
                        <span class="text">FastAdmin全新官方交流社区上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://jq.qq.com/?_wv=1027&amp;k=487PNBb" target="_blank">
                        <span class="text">FastAdmin邀请你加入官方QQ交流群和小伙伴一起交流</span>
                    </a>
                </li>

            </ul></div>
        </div>
    </div>
    <div class="col-lg-4" style="background: #e6f9f7;border: 1px solid red; width: 32%;margin-left: 20px;">
        <div class="box box-danger" style="    margin-top: 11px;">
            <div class="box-header">
                <h3 class="box-title">最新新闻</h3>
                <div class="box-tools pull-right">
                    <a href="https://www.fastadmin.net" target="_blank" class="btn btn-box-tool">更多</a>
                </div>
            </div>
            <div class="box-body" id="news-list"><ul class="nav nav-stacked">


                <li>
                    <a href="https://www.fastadmin.net/act/20190101/springfestival.html" target="_blank">
                        <span class="text">2019新年福袋活动正在进行中</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/71.html" target="_blank">
                        <span class="text">ThinkPHP5再次发布安全更新版本，请注意升级</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/70.html" target="_blank">
                        <span class="text">FastAdmin官网全新积分功能上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/69.html" target="_blank">
                        <span class="text">FastAdmin已取得计算机软件著作权登记证书</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/news/68.html" target="_blank">
                        <span class="text">ThinkPHP5发布安全更新，请务必关注你的FastAdmin版本。</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/thread/5567" target="_blank">
                        <span class="text">FastAdmin重磅推出强大的FormBuilder(表单生成器)功能</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/blog.html" target="_blank">
                        <span class="text">FastAdmin官方出品响应式博客(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://www.fastadmin.net/store/cms.html" target="_blank">
                        <span class="text">FastAdmin官方出品CMS内容管理系统(含小程序前后端)上架啦</span>
                    </a>
                </li>


                <li>
                    <a href="https://forum.fastadmin.net/" target="_blank">
                        <span class="text">FastAdmin全新官方交流社区上线</span>
                    </a>
                </li>


                <li>
                    <a href="https://jq.qq.com/?_wv=1027&amp;k=487PNBb" target="_blank">
                        <span class="text">FastAdmin邀请你加入官方QQ交流群和小伙伴一起交流</span>
                    </a>
                </li>

            </ul></div>
        </div>
    </div>
</div>


{/block}