{extend name='admin@public/content'}

{block name="content"}
<table class="layui-table" lay-even lay-skin="line" style="width: 30%;float:left;">
    <colgroup>
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th class="text-left" colspan="2">服务器信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  class="nowrap">EasyAdmin 版本</td>
        <td class="nowrap">{:sysconf('app_version')}</td>
    </tr>
    <tr>
        <td class="nowrap">ThinkPHP 版本</td>
        <td class="nowrap">{$think_ver}</td>
    </tr>
    <tr>
        <td class="nowrap">服务器操作系统</td>
        <td class="nowrap">{:php_uname('s')}</td>
    </tr>
    <tr>
        <td class="nowrap">WEB运行环境</td>
        <td class="nowrap">{:php_sapi_name()}</td>
    </tr>
    <tr>
        <td class="nowrap">MySQL数据库版本</td>
        <td class="nowrap">{$mysql_ver}</td>
    </tr>
    <tr>
        <td class="nowrap">运行PHP版本</td>
        <td class="nowrap">{$Think.PHP_VERSION}</td>
    </tr>
    <tr>
        <td class="nowrap">上传大小限制</td>
        <td class="nowrap">{:ini_get('upload_max_filesize')}</td>
    </tr>
    <tr>
        <td class="nowrap">POST大小限制</td>
        <td class="nowrap">{:ini_get('post_max_size')}</td>
    </tr>
    </tbody>
</table>

<table class="layui-table" lay-even lay-skin="line" style="width: 60%;float:left;margin-left: 20px;">
    <thead>
    <tr>
        <th class="text-left" >应用</th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    <tr>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
        <td  class="nowrap">
            <a href="">博客系统</a>
        </td>
    </tr>
    </tbody>
</table>
<table class="layui-table" lay-even lay-skin="line" style="width: 60%;float:left;margin-left: 20px;">
    <thead>
    <tr>
        <th class="text-left" >统计</th>
        <th class="text-left" ></th>
        <th class="text-left" ></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>



{/block}