<div class="tpt-footer tpt-none">
    <div class="tpt-wp cl">
        <ul>
            <li style="padding: 0 50px 0 30px;">
                <h2>服务支持</h2>
                <p><a href="http://qiye.tpt360.com/#">联系我们</a></p>
                <p><a href="http://qiye.tpt360.com/#">支持计划</a></p>
                <p><a href="http://qiye.tpt360.com/#">新手学堂</a></p>
                <p><a href="http://qiye.tpt360.com/#">自助工具</a></p>
                <p><a href="http://qiye.tpt360.com/#">咨询与设计</a></p>
            </li>
            <li>
                <h2>账户管理</h2>
                <p><a href="http://qiye.tpt360.com/#">管理控制台</a></p>
                <p><a href="http://qiye.tpt360.com/#">备案管理</a></p>
                <p><a href="http://qiye.tpt360.com/#">账号管理</a></p>
            </li>
            <li>
                <h2>快速入口</h2>
                <p><a href="http://qiye.tpt360.com/#">帮助文档</a></p>
                <p><a href="http://qiye.tpt360.com/#">开放API</a></p>
                <p><a href="http://qiye.tpt360.com/#">问答社区</a></p>
                <p><a href="http://qiye.tpt360.com/#">技术博客</a></p>
            </li>
            <li>
                <h2>关于我们</h2>
                <p><a href="http://qiye.tpt360.com/#">合作伙伴</a></p>
                <p><a href="http://qiye.tpt360.com/#">提交建议</a></p>
                <p><a href="http://qiye.tpt360.com/#">媒体报道</a></p>
                <p><a href="http://qiye.tpt360.com/#">联系我们</a></p>
                <p><a href="http://qiye.tpt360.com/#">友情链接</a></p>
            </li>
            <li>
                <h2>联系方式</h2>
                <p><span><i style="font-size: 24px;position: relative;right: 3px;top: 3px;" class="layui-icon"></i>全国服务热线：</span></p>
                <p><span style="color:#1E9FFF;font-size: 24px;">+86-13588888888</span></p>
                <p><span style="font-size: 12px;">周一到周五 9:00-19:00</span></p>
                <p><span style="font-size: 12px;"><i style="font-size: 18px;position: relative;right: 3px;top: 3px;" class="layui-icon"></i>武侯区创业路</span></p>
                <p><span>用户支持：</span></p>
                <p><span style="color:#1E9FFF;">88888888@qq.com</span></p>
            </li>
            <li style="border-right: none;padding: 0 10px 0 50px;">
                <div class="tpt-footer-1">
                    <h3>微信二维码</h3>
                    <p>扫一扫获取更多资讯</p>
                    <img src="/static/public/image/ma.png">
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="tpt-footer-2">
    <div class="tpt-wp cl">
        <p>
            Copyright© 2014-2018
            <span class="pipe">|</span>
            <a class="banquan" target="_blank" href="#">Powered by esAdmin</a>
            <span class="tpt-none">
				<span class="pipe">|</span>
				<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备10000000号</a>
				</span>
        </p>
    </div>
</div>
<script>
    document.oncontextmenu=function () {
        return true;
    };
</script>
</body>
</html>