{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加" class='layui-btn layui-btn-sm layui-btn-primary'>添加</button>
<!--{/if}-->

<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-primary'>删除</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.name|default=''}" placeholder="请输入名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">头衔</label>
        <div class="layui-input-inline">
            <input name="touxian" value="{$Think.get.touxian|default=''}" placeholder="请输入头衔" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.laydate.render({range: true, elem: '#range-date'});
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>名称</th>
            <th class='text-left nowrap'>头衔</th>
            <th class='text-left nowrap'>成长积分</th>
            <th class='text-left nowrap'>晋级奖励(元)</th>
            <th class='text-left nowrap'>跳级奖励(元)</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.name}
            </td>
            <td class='text-left nowrap'>
                {$vo.touxian|default=""|raw}
            </td>
            <td class='text-left nowrap'>
                {$vo.jifen|default="0"|raw}
            </td>
            <td class='text-left nowrap'>
                {$vo.jiang|default="0"|raw}
            </td>
            <td class='text-left nowrap'>
                {$vo.tiaojiang|default="0"|raw}
            </td>
            <td class='text-left nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-normal" data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-black" style="background-color:black" data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}

            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}