<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>{:sysconf('app_name')} {:sysconf('app_version')}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0">
        <link href="__STATIC__/plugs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="__STATIC__/plugs/layui/css/layui.css" rel="stylesheet" type="text/css"/>
        <link href="__STATIC__/plugs/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div class="ibox-content icons-box">
        <div>
            <div class="bs-glyphicons" id="colorTheme">

            </div>
        </div>
        <script src="__STATIC__/plugs/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="__STATIC__/plugs/layui/layui.all.js" type="text/javascript"></script>
            <script>
                $(function () {
                    /* global top */
                    if (document.all) {
                        document.onselectstart = function () {
                            return false;
                        };
                    } else {
                        document.onmouseup = document.onmousedown = function () {
                            return false;
                        };
                    }
                    layui.use('colorpicker', function() {
                        var $ = layui.$
                            , colorpicker = layui.colorpicker;
                        colorpicker.render({
                            elem: '#colorTheme'
                            , color: '#2ec770' //设置默认色
                            , done: function (color) {
                                layer.tips('选择了：' + color, this.elem);
                            }
                        });
                    });
                    document.onselectstart = new Function('event.returnValue=false;');
                    $('li').on('click', function () {
                        var className = $(this).find('span').get(0).className;
                        if (className) {
                            top.$('[name="{$field}"]').css('background-color',className).trigger('change');
                            var index = top.layer.getFrameIndex(window.name);
                            top.layer.close(index);
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>
