<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>EasyAdmin</h1>
                        <h3>基于ThinkPHP5的通用后台解决方案</h3>
                        <div class="dropdown" style="display:inline-block">
                            <a style="margin-top: 25px;font-size: 18px;border-radius: 300px;padding: 9px 20px;" role="button" target="_blank"  class="btn btn-warning btn-xl" href="/admin.php" aria-expanded="true">
                                登录后台
                            </a>
                        </div>
                        <a style="margin-top: 25px;font-size: 18px;border-radius: 300px;padding: 9px 20px;"  href="{:url('/index/user')}" class="btn btn-outline btn-xl page-scroll">会员中心</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>