<footer class="footer">
    <div class="container">
        <!-- FastAdmin是开源程序，建议在您的网站底部保留一个FastAdmin的链接 -->
        <p>&copy; 2018-? <a href="/" target="_blank">EasyAdmin</a>. All Rights Reserved.</p>
        <ul class="list-inline">

        </ul>
    </div>
</footer>

<!-- jQuery -->
<script src="//cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="//cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script>
    $(function () {
        $(window).on("scroll", function () {
            $("#mainNav").toggleClass("affix", $(window).height() - $(window).scrollTop() <= 50);
        });
    });
</script>

</body>

</html>