<main class="content">
    <style>
        .basicinfo {
            margin: 15px 0;
        }

        .basicinfo .row > .col-xs-4 {
            padding-right: 0;
        }

        .basicinfo .row > div {
            margin: 5px 0;
        }
    </style>
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidenav">
                    <ul class="list-group">
                        <li class="list-group-heading">会员中心</li>
                        <li class="list-group-item {if $focus=='user'}active{/if}"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 会员中心</a> </li>
                        <li class="list-group-item {if $focus=='user_profile'}active{/if}"> <a href="/index/user/user_profile.html"><i class="fa fa-user-o fa-fw"></i> 个人资料</a> </li>
                        <li class="list-group-item {if $focus=='user_changepwd'}active{/if}"> <a href="/index/user/user_changepwd.html"><i class="fa fa-key fa-fw"></i> 修改密码</a> </li>
                        <li class="list-group-item "> <a href="/index/user/logout.html"><i class="fa fa-sign-out fa-fw"></i> 注 销</a> </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-heading">功能管理</li>
                        <li class="list-group-item {if $focus=='user_qiandao'}active{/if}"> <a href="/index/user/user_qiandao.html"><i class="fa fa-key fa-fw"></i> 用户签到</a> </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-heading">内容管理</li>
                        <!--如果需要直接跳转对应的模型(比如我的新闻,我的产品,发布新闻,发布产品)，可以在链接后加上 ?model_id=模型ID -->
                        <li class="list-group-item {if $focus=='user_blog'}active{/if}"><a href="/index/user/blog.html"><i class="fa fa-list fa-fw"></i> 我发布的文章</a></li>
                        <!--<li class="list-group-item {if $focus=='user_changepwd'}active{/if}"><a href="/index/cms.archives/post.html"><i class="fa fa-pencil fa-fw"></i> 发布文章</a></li>-->
                    </ul><ul class="list-group">
                    <li class="list-group-heading">充值中心</li>
                    <li class="list-group-item {if $focus=='user_recharge'}active{/if}"><a href="/index/user/user_recharge.html"><i class="fa fa-cny fa-fw"></i> 充值余额</a></li>
                    <li class="list-group-item {if $focus=='user_moneylog'}active{/if}"><a href="/index/user/user_moneylog.html"><i class="fa fa-list fa-fw"></i> 余额日志</a></li>
                </ul></div>
            </div>