{include file="public/header"/}

{include file="public/top"/}

<!--焦点图-->
{include file="public/focus"/}

 
<div class="content">
	<!--置顶文章	-->
	{include file="public/zhiding"/}
	<!--热门推荐-->
	<!--{include file="public/remen"/}-->

	<!--<div class="cms">-->
		<!--{include file="public/onebar"/}-->
		<!--{include file="public/twobar"/}-->
	<!--</div>-->
</div>

<!--友情链接-->
{include file="public/links"/}
</div>
{include file="public/right"/}
</div>
</div>
</div>

{include file="public/bottom"/}
</body>
</html>