<div class="layui-tab">
    <ul class="layui-tab-title" style="margin-left:10px;">
        <li class="layui-this">测试发送</li>
        <li>使用说明</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">发送邮件地址</label>
                    <div class="layui-input-block">
                        <input name="to" value='' required="required" title="请输入发送邮件地址" placeholder="发送邮件地址" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">发送名称</label>
                    <div class="layui-input-block">
                        <input   autofocus name="name" required="required" value=''  title="请输入发送名称" placeholder="发送名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">主题</label>
                    <div class="layui-input-block">
                        <input   autofocus name="subject" required="required" value=''  title="请输入主题" placeholder="请输入主题" class="layui-input">
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邮件正文</label>
                    <div class="layui-input-block">
                        <textarea data-height="100px" placeholder="邮件正文" required="required" title="请输入邮件正文" class="layui-textarea" name="body"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邮件附件</label>
                    <div class="layui-input-block">
                        <input  autofocus name="attment" value=''  title="请输入邮件附件" placeholder="请输入邮件附件" class="layui-input">
                        <a class="btn btn-link" data-file="mut" data-type='txt,pdf,word,jpg,png,gif,php'  data-field='attment' data-uptype="local"  data-field="browser_icon">上传附件</a>
                    </div>
                </div>

                <div class="layui-form-item text-center">
                    <button class="layui-btn" type='submit'>测试发送</button>
                    <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消发送吗？" data-close>取消</button>
                </div>
                <script>window.form.render();</script>
            </form>
            {block name='script'}
            <!--<script>-->
            <!--require(['angular', 'ckeditor'], function () {-->
            <!--var editor = window.createEditor('[name="body"]',{height:"100px"});-->
            <!--});-->
            <!--</script>-->
            {/block}
        </div>
        <div class="layui-tab-item">
<pre class="layui-code" lay-title="php代码">
     if ($this->request->isPost()) {
        $to = $this->request->post('to');
        $name = $this->request->post('name');
        $subject = $this->request->post('subject');
        $body = $this->request->post('body');
        $attment = $this->request->post('attment');
        if(MailService::sendMail($to,$name,$subject,$body,$attment)){
            $this->success('发送成功！', '');
        }else{
            $this->error('发送失败！', '');
        }
    }
</pre>
        </div>
    </div>
</div>
<script>
    layui.use('code', function () {
        layui.code({encode: true});
    });
</script>


