<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-block">
            <input name="title" value='{$vo.title|default=""}' required="required" pattern="^.{2,}$" title="请输入任务名称" placeholder="请输入2位及以上字符任务名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">任务脚本</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入任务脚本" title="请输入任务脚本" class="layui-textarea" name="content">{$vo.content|default=""}</textarea>
            <p class="help-block color-desc"><b>必填</b>，务必填写正确,模板任务填写模板名称</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input name="begin_time" id='range-date-begin' value="{$vo.begin_time|default=''}" required="required" placeholder="请选择开始时间" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
<script>
    window.laydate.render({ elem: '#range-date-begin',format:'yyyy-MM-dd HH:mm:ss',type: 'datetime'});
    window.laydate.render({ elem: '#range-date-end',format:'yyyy-MM-dd HH:mm:ss',type: 'datetime'});
</script>