{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加消息队列" class='layui-btn layui-btn-sm layui-btn-primary'>添加消息队列</button>
<!--{/if}-->

<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-primary'>删除消息队列</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">消息队列</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入消息队列名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <?php $actions=['0'=>'已结束','1'=>'等待执行','2'=>'执行中'];?>
            <?php $status=isset($_GET['status'])?$_GET['status']:'';?>
            <select name='status' class='layui-select' lay-search="">
                <option {if $status===''}selected="selected"{/if} value=''> - 所有 -</option>
                <option {if $status==='1'}selected="selected"{/if} value='1'>  等待执行</option>
                <option {if $status==='2'}selected="selected"{/if} value='2'>  执行或结束</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>window.form.render();</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left'>ID</th>
            <th class='text-left'>消息队列名</th>
            <th class='text-left'>脚本名</th>
            <th class='text-left'>队列总数</th>
            <th class='text-left'>已执行</th>
            <th class='text-left'>开始时间</th>
            <th class='text-left'>状态</th>
            <th class='text-left'></th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.title}
            </td>
            <td class='text-left nowrap'>
                {$vo.content}
            </td>
            <td class='text-left'>
                {$vo.most_exec_num|default="0"|raw}
            </td>
            <td class='text-left'>
                {$vo.has_exec_num|default="0"|raw}
            </td>
            <td class='text-left'>
                {$vo.begin_time|format_datetime|default="<span class='color-desc'>暂无</span>"|raw}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 0}
                <span class="color-green">执行或结束</span>
                {elseif $vo.status eq 2}
                <span class="color-green">执行或结束</span>
                {elseif $vo.status eq 1}
                <span class="color-blue">等待执行</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-normal" data-title="编辑消息队列" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-black" style="background-color:black" data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}
            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}