{include file='public/header'/}
{include file='public/nav'/}
{include file='public/user_left'/}

<div class="col-md-9">
    <div class="panel panel-default panel-user">
        <div class="panel-body">
            <div class="page-header panel-post">
                <h2>我发布的文章</h2>
                <a href="/cms.archives/post.html" class="btn btn-info btn-post"><i class="fa fa-edit"></i> 发布文章</a>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/35.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44128db3ed0.png" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/35.html">研究人员利用VR技术帮助教师更好了解自闭症学生</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-17 00:27:20</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/35.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/34.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44129495250.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/34.html">Leap Motion AR头显看起来很疯狂但可能是奇迹</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-17 00:26:30</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/34.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/33.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad4412a798700.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/33.html">GitHub 去年为漏洞支付了 16.6 万美元赏金</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-17 00:24:53</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/33.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/30.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad4412a357f60.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/30.html">谷歌母公司继续投资清洁能源领域：或押注于电池</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-17 00:21:31</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/30.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/29.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44128db3ed0.png" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/29.html">研究人员利用VR技术帮助教师更好了解自闭症学生</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-15 09:24:31</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/29.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/28.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44129495250.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/28.html">Leap Motion AR头显看起来很疯狂但可能是奇迹</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-15 09:22:54</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/28.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/27.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44118ca9c40.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/27.html">因为电网问题 欧洲的电子钟表运行缓慢超过一个月时间</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-15 09:03:16</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/27.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/26.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44119326fd0.jpg" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/26.html">Let's Encrypt发布ACME v2 正式支持通配符证书</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-15 09:02:22</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/26.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/25.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad441196ddc60.png" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/25.html">谷歌开源 iOS 自动测试框架 GTXiLib，主打无障碍使用</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-15 09:00:40</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/25.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="padding:15px;">
                        <a href="/cms/a/24.html">
                            <img class="img-responsive img-border" src="https://cdn.fastadmin.net/uploads/20180416/5ad44119d944a0.png" onerror="this.src='https://cdn.demo.fastadmin.net/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <a href="/cms/a/24.html">谷歌携手美国医学协会 促进健康监测设备数据共享</a>
                    </h4>
                    <p class="text-muted">发布时间：2018-04-14 23:59:15</p>
                    <div>
                        <a class="btn btn-success" href="/cms/a/24.html"><i class="fa fa-home"></i> 立即查看</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="pager"><ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="/cms.archives/my.html?page=2">2</a></li><li><a href="/cms.archives/my.html?page=3">3</a></li><li><a href="/cms.archives/my.html?page=4">4</a></li> <li><a href="/cms.archives/my.html?page=2">&raquo;</a></li></ul></div>
        </div>
    </div>
</div>




<!--#####################################################################-->
        </div>
    </div>
</main>

{include file='public/footer'/}
